<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Liquidador.css" rel="stylesheet" />
    @Styles.Render("~/Content/InicioLiq.css")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-home" href="/Home/HomeLiquidador"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/DatosOperador">Datos Operador</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mensaje <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mensaje privado</a></li>
                            <li><a href="#">Mensaje general</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" method="post" action="/Home/ConsultarRegLiqFecha" id="formulario">
                    <div class="form-group">
                        <input type="text" name="fechon" id="fechon" class="form-control" placeholder="Ej.: 3/4/2000">
                    </div>
                    <select class="btn btn-default" name="buscador" id="buscador" required>
                        <option value="1" selected>Por fecha</option>
                        <option value="2">Por mes</option>
                    </select>
                    <select class="btn btn-default " id="mes" name="mes">
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                    </select>
                    <select class="btn btn-default" name="operador" id="operador" hidden>
                       @foreach (WebApplication16.Models.Operadores operadores in ViewBag.Operadores)
                       {
                        <option value="@operadores.DNI">@operadores.Apellidos</option>
                       }
                    </select>
                    <button type="submit" class="btn btn-danger">Buscar</button>
                 
                </form>
                <h5 class="error navbar-form navbar-left" id="error5"><i>@TempData["Error5"]</i></h5>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/AgregarOperador" class="glyphicon glyphicon-plus tamaño" id="glyphi"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/MisDatos">Mis datos</a></li>
                            <li><a href="@Url.Action("SalirLiquidador","Usuarios")">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/InicioLiq.js")
    @RenderSection("scripts", required: false)
</body>
</html>