@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/bootstrap")
}


    <div class="col-md-4 col-md-offset-4 text-center desplegar" >
        @foreach (WebApplication16.Models.Operadores operadores in ViewBag.Operadores)
        {
            <form action="/Home/ConsultarRegLiq" method="post" id="@operadores.DNI">
                <input type="text" value="@operadores.DNI" name="operador" hidden/>
                <a href="#" onclick="convertir()" id="@operadores.DNI">@operadores.Nombres @operadores.Apellidos</a> 
            </form>
        }
        <div class="row" id="error" hidden>@TempData["Error3"]</div>
    </div>
